html {
/*-- ---------------------------- Removing Flashes of Unstyled Content ---------------------- -- */
	visibility: visible !important;
	max-width: 100%;
	overflow-x: hidden;
	background: transparent;
	
	font-family: cdrd, DejaVu Sans, Segoe UI, Helvetica;
}

* {
  margin: 0;
  padding: 0;
}

/* -------------------------- Phone Composition ------------------------------------- */

	@media only screen and (max-width: 800px) { 
	
/* ---------------------------------------------- Header Phone ------------------------------------*/	
		div.header .logoImg { 
			width: 30%; 
		}

/* ---------------------------------------------- Body Phone ------------------------------------*/		
		div.body .ComingSoonDiv { 
			padding-top: 120px; 
		}
		
		div.body .ComingSoon { 
			width: 70%; 
		}
		
		div.body .fphoto { 
			width: 50%; 
			margin-top: 40%; 
			margin-left: 1%; 
		}
		
		div.body .ContactInfo {
			margin-top: 60%; 
			margin-right: 1%; 
		}
		
		div.body .ContactInfoImg { 
			margin-top: 4%; 
			width: 30%; 
		}
		
	}

/* -------------------------- Web Composition ------------------------------------------------ */

/* ---------------------------------------------- Header Web ------------------------------------*/	
	.header { 
		text-align: center; 
		padding-top: 2%; 
		background-color: black; 
	}
	
	.logoImg { 
		width: 11%; 
	}

/* ---------------------------------------------- Body Web ------------------------------------*/	
	.body { 
		width: 100%; 
		height: auto; 
	}

/* ---------------------------------------------- Section 1 ------------------------------------*/	
	.section1 { 
		height: auto; 
		width: 100%; 
		background-color: black; 
		padding-bottom: 5%; 
	}

	.ComingSoonDiv { 
		width: 100%; 
		height: auto; 
		padding-top: 200px; 
		text-align: center; 
	}
	
	.ComingSoon { 
		width: 22%; 
		}

	.fphoto { 
		float: left; 
		width: 20%; 
		margin-top: 4%; 
		margin-left: 4%; 
	}

	.ContactInfo { 
		color: white; 
		text-align: right; 
		padding-top: 23%; 
		margin-right: 4%; 
	}
	
	.ContactInfoImg { 
		width: 12%; 
	}
	
/* ---------------------------------------------- Section 2 ------------------------------------*/	
	.section2 { 
		height: auto; 
		width: 100%; 
		margin-top: 20%; 
		background-color: white; 
	}
	
	.About { 
		color: black; 
		font-size: 75px; 
		text-align: right; 
		margin-right: 30%; 
	}
	
	.section2Text { 
		color: black; 
		font-size: 14px; 
		text-align: right; 
		margin-right: 30%; 
		margin-top: 5%; 
	}
	
	.section2Img { 
		float: right; 
		margin-right: 5%; 
		width: 20%; 
	}
	
/* ---------------------------------------------- Section 3 ------------------------------------*/	
	.section3 {
	  display: flex;
	  height: auto;
	  width: 100%;
	  margin-top: 20%;
	  background-color: black;
	  padding: 5%;
	}

	.Soon {
	  color: white;
	  font-size: 75px;
	  flex: 1;
	}

	.section3Img {
	  width: 50%;
	  float: right; 
	  margin-right: 10%;
	  margin-top: 10%;
	}
	
/* ---------------------------------------------- Section 4 ------------------------------------*/	
	.section4 {
		width: 100%;
		margin-top: 5%;
		background-color: white;
		padding: 5%;
		box-sizing: border-box; /* Ensure padding is included in the width */
	}

	.Programme {
		color: black;
		font-size: 75px;
		text-align: left;
		margin-bottom: 20px; 
	}

	/* Adjust the width of the columns in the image grid */
	.image-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 35px;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		margin-left: 10%;
	}
	
	/* Different sizes for images */
	.section4Img {
		width: 60%;
	}

	.section4Img1 {
		width: 80%;
	}

	.section4Img2 {
		width: 50%;
	}

	.section4Img3 {
		width: 50%;
	}

	.section4Img4 {
		width: 40%;
	}

	.section4Img5 {
		width: 50%;
	}
	
	.section4Img6 {
		width: 80%;
	}
	
	.section4Img7 {
		width: 40%;
	}
	
/* ---------------------------------------------- Section 5 ------------------------------------*/	

	.section5 {
		display: flex;
		align-items: stretch; /* Stretch items to equal height */
		margin-top: 5%;
	}

	.yellow-side {
		flex: 1;
		background-color: #f3ffd9;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}

	.image-side {
		flex: 1;
	}

	.image-side img {
		width: 100%;
		height: 100%; /* Ensure the image fills the entire height of the container */
		object-fit: cover; /* Ensure the image covers the entire container */
	}

	.button {
		padding: 10px 20px;
		background-color: transparent;
		border: 1px solid black;
		cursor: pointer;
		margin-bottom: 10px; /* Add space between buttons */
		max-width: 100%; /* Ensure buttons don't exceed container width */
	}

	.button:hover {
		background-color: lightgray;
	}
	
/* ---------------------------------------------- Section 6 ------------------------------------*/

	.section6 {
		width: 100%;
		background-color: #d0add2;
		padding: 5%;
		box-sizing: border-box; /* Ensure padding is included in the width */
	}

	.section6Header {
		display: flex;
		justify-content: flex-start; /* Align items to the end (right) */
		align-items: flex-start; /* Align items to the start (top) */
	}

	.section6Img {
		width: 20%; /* Adjust image width */
		height: auto; /* Maintain aspect ratio */
		margin-right: 10px; /* Add margin to separate from text */
	}

	.section6Content {
		text-align: left;
	}

	.Gallery {
		color: white;
		font-size: 75px;
		margin-bottom: 20px;
	}

	.subText {
		color: white;
		font-size: 24px;
		margin-top: 5px; /* Add margin to separate from heading */
	}
	
/* ---------------------------------------------- Section 7 ------------------------------------*/
	.section7 {
		width: 100%;
		margin-top: 5%;
		background-color: white;
		padding: 50px 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.JoinUs {
		color: black;
		font-size: 75px;
		margin-bottom: 20px;
	}

	.buttons {
		display: flex;
		margin-top: 5%;
		flex-direction: column;
		align-items: center;
	}

	.button {
		padding: 10px 20px;
		background-color: transparent;
		border: 1px solid black;
		cursor: pointer;
		margin: 20px 0;
		text-decoration: none;
		color: black;
	}

	.button:hover {
		background-color: lightgray;
	}